In [2]:
cd ..

/Users/sethhendrickson/cbbmodel

In [3]:
import pandas as pd
import pymc
import numpy as np
from DB import DB
import scipy.stats as scs
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
def get_season(dt):
    year = dt.year
    month = dt.month
    if month > 6:
        return year + 1
    else:
        return year

In [11]:
games = pd.read_sql("SELECT * FROM games_test", DB.conn)
games['season']  = games.dt.map(lambda d: get_season(d))
games = games[games.season == 2015]
hteams = games[['hteam_id']]
ateams = games[['ateam_id']]
hteams = hteams.rename(columns={'hteam_id': 'team_id'})
ateams = ateams.rename(columns={'ateam_id': 'team_id'})
teams = pd.concat([hteams, ateams], axis=0)
teams.drop_duplicates(inplace=True)

In [19]:
acc = {int(team_id): {'w': 0, 'l': 0, 'ow': 0, 'ol': 0, 'oow': 0, 'ool': 0} for team_id in teams.dropna().team_id.values}

In [35]:
for idx, game in games.iterrows():
    if game.home_outcome:
        if not np.isnan(game.hteam_id):
            acc[game.hteam_id]['w'] += 1
        if not np.isnan(game.ateam_id):
            acc[game.ateam_id]['l'] += 1
    else:
        if not np.isnan(game.hteam_id):
            acc[game.hteam_id]['l'] += 1
        if not np.isnan(game.ateam_id):
            acc[game.ateam_id]['w'] += 1

In [40]:
acc[306]

{'l': 14, 'ol': 0, 'ool': 0, 'oow': 0, 'ow': 0, 'w': 20}

In [45]:
games = np.array([0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0]).reshape((4,4))

In [53]:
data = [['UConn', 64, 'Kansas', 57], ['UConn', 82, 'Duke', 68], ['Minnesota', 71, 'UConn', 72], ['Kansas', 69, 'UConn', 62], ['Duke', 81, 'Minnesota', 70], ['Minnesota', 52, 'Kansas', 62]]

In [55]:
games = pd.DataFrame(data, columns=['hteam', 'hscore', 'ateam', 'ascore'])

In [77]:
teams = np.unique(games.hteam.values.tolist() + games.ateam.values.tolist())
teams = pd.DataFrame(teams[:, np.newaxis], columns=['team'])
teams['idx'] = range(teams.shape[0])
team_index = {team[0]: team[1] for team in teams.values}
print team_index

{'Duke': 0, 'Kansas': 1, 'Minnesota': 2, 'UConn': 3}

In [142]:
played = np.zeros(shape=(teams.shape[0], teams.shape[0]))
wins = np.zeros(shape=(teams.shape[0], teams.shape[0]))
win_loss = {team: {'w': 0, 'l': 0} for team in teams.team.values}
for idx, game in games.iterrows():
    i, j = (team_index[game.hteam], team_index[game.ateam])
#     played[i, j] += 1.
#     played[j, i] += 1.
    if game.hscore > game.ascore:
        wins[i, j] += 0.6 # home team wins 0.6 games
#         played[i, j] += 0.6  # home team played 0.6 games
#         played[j, i] += 1.4  # away team played 1.4 games
    else:
        wins[j, i] += 1.4  # away team wins 1.4 games
    played[i, j] += 0.6  # home team played 0.6 games
    played[j, i] += 1.4  # away team played 1.4 games
#         win_loss[game.hteam]['l'] += 0.6
#         win_loss[game.ateam]['w'] += 1.4

In [150]:
print played
print wins

[[ 0.   0.   0.6  1.4]
 [ 0.   0.   1.4  2. ]
 [ 1.4  0.6  0.   0.6]
 [ 0.6  2.   1.4  0. ]]
[[ 0.   0.   0.6  0. ]
 [ 0.   0.   1.4  0.6]
 [ 0.   0.   0.   0. ]
 [ 0.6  0.6  1.4  0. ]]

In [144]:
def get_wp(team, played, wins, exclude=None):
    idx = team_index[team]
    return np.sum(wins[idx, :]) / np.sum(played[idx, :])
#     return win_loss[team]['w'] / float(win_loss[team]['l'] + win_loss[team]['w'])
def opp_wp(team):
    idx = team_index[team]
    opponents = teams.values[played[:, idx].astype(bool)][:, 0]
    return [get_wp(opponent) for opponent in opponents]

In [147]:
print win_loss
for team in win_loss:
    wp = get_wp(team, played, wins)
    print team, wp#, opp_wp(team)

{'Duke': {'l': 0, 'w': 0}, 'Kansas': {'l': 0, 'w': 0}, 'Minnesota': {'l': 0, 'w': 0}, 'UConn': {'l': 0, 'w': 0}}
Duke 0.3
Kansas 0.588235294118
Minnesota 0.0
UConn 0.65

In [105]:
teams.values[played[:, 0].astype(bool)]

array([['Minnesota', 2],
       ['UConn', 3]], dtype=object)

In [126]:
np.dot(played, played)

array([[ 2.,  2.,  1.,  1.],
       [ 2.,  2.,  1.,  1.],
       [ 1.,  1.,  3.,  2.],
       [ 1.,  1.,  2.,  3.]])

In [135]:
played

array([[ 0.,  0.,  1.,  1.],
       [ 0.,  0.,  1.,  1.],
       [ 1.,  1.,  0.,  1.],
       [ 1.,  1.,  1.,  0.]])

In [136]:
teams

        team  idx
0       Duke    0
1     Kansas    1
2  Minnesota    2
3      UConn    3