In [1]:
import pandas as pd
import numpy as np
import psycopg2
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score
%matplotlib inline

In [2]:
conn = psycopg2.connect(database="sethhendrickson", user="sethhendrickson", password="abc123",
                        host="localhost", port="5432")
cur = conn.cursor()

In [3]:
df = pd.read_sql("""SELECT * FROM kp_detailed""", conn)
teams = pd.read_sql("""SELECT * FROM teams""", conn)
teams = teams[['team_id', 'team_name', 'conf']]

In [4]:
df = df[df.neutral == 0]

In [5]:
df['home_margin'] = df.apply(lambda x: x.score1 - x.score2 if x.team1_id==x.hteam else x.score2-x.score1, axis=1)
df['predicted_home_margin'] = df.apply(lambda x: x.predicted_score - x.predicted_score2 if x.team1_id==x.hteam else x.predicted_score2-x.predicted_score, axis=1)

In [6]:
df['hmargin_diff'] = df.home_margin - df.predicted_home_margin
df = df[df.predicted_home_margin.abs() < 15]

In [7]:
gb = df.groupby('hteam').mean()
gb2 = df.groupby('hteam').count()

In [8]:
gb.sort('hmargin_diff', ascending=False).head()

,score1,score2,predicted_score,predicted_score2,team1_id,team2_id,ateam,neutral,home_margin,predicted_home_margin,hmargin_diff
hteam,,,,,,,,,,,
1355,78.300000,63.425000,75.500000,67.875000,1350.050000,1300.700000,1295.750000,0,11.825000,5.875000,5.950000
1438,64.529412,49.862745,63.568627,56.294118,1400.156863,1322.647059,1284.803922,0,10.352941,4.490196,5.862745
1211,77.781250,63.218750,76.250000,66.718750,1223.500000,1297.718750,1310.218750,0,12.687500,6.906250,5.781250
1176,70.459016,58.311475,65.245902,58.819672,1204.983607,1265.983607,1294.967213,0,8.245902,3.081967,5.163934
1172,78.555556,65.250000,75.805556,67.611111,1206.305556,1238.944444,1273.250000,0,8.805556,3.861111,4.944444

In [9]:
margin = pd.DataFrame({'team': gb.index.values, 'avg_margin_diff': gb.hmargin_diff.values, 'avg_margin':gb.home_margin.values})
gp = pd.DataFrame({'team': gb2.index.values, 'gp': gb2.score1.values})

In [10]:
margin = pd.merge(margin, teams, left_on='team', right_on='team_id')
margin = pd.merge(margin, gp, left_on='team', right_on='team')

In [11]:
major_conf = ['B10', 'ACC', 'BE', 'P12', 'SEC']
major_conf=['B10']
new = margin[margin.conf.isin(major_conf)].sort('avg_margin_diff', ascending=False)
# new.to_csv('B10.csv')
margin.sort('avg_margin_diff', ascending=False).head(100)

     avg_margin  avg_margin_diff  team  team_id      team_name  conf  gp
239   11.825000         5.950000  1355     1355    S Dakota St   Sum  40
319   10.352941         5.862745  1438     1438       Virginia   ACC  51
101   12.687500         5.781250  1211     1211        Gonzaga   WCC  32
67     8.245902         5.163934  1176     1176         Denver   Sum  61
63     8.805556         4.944444  1172     1172       Davidson   A10  36
131   12.923077         4.512821  1242     1242         Kansas   B12  39
338    8.510204         4.510204  1459     1459        Wofford    SC  49
293    9.444444         4.407407  1411     1411    TX Southern  SWAC  27
166    8.244444         4.377778  1277     1277    Michigan St   B10  45
41     7.591837         4.367347  1149     1149  Charleston So  BSth  49
31     8.810345         4.327586  1138     1138        Buffalo   MAC  58
181    8.615385         4.179487  1293     1293      Murray St   OVC  39
132    8.181818         4.163636  1243     1243      Kansas St   B12  55
86     7.090909         4.145455  1195     1195  FL Gulf Coast  ASun  55
317    8.163265         4.102041  1436     1436        Vermont    AE  49
300    7.568966         4.068966  1418     1418            ULL    SB  58
87     9.051282         4.025641  1196     1196        Florida   SEC  39
334   10.500000         3.970588  1455     1455     Wichita St   MVC  34
19     6.934783         3.934783  1124     1124         Baylor   B12  46
283    7.040816         3.918367  1400     1400          Texas   B12  49
337    9.953488         3.906977  1458     1458      Wisconsin   B10  43
213    6.409091         3.886364  1328     1328       Oklahoma   B12  44
23     7.629630         3.870370  1129     1129       Boise St   MWC  54
331    6.950820         3.868852  1452     1452  West Virginia   B12  61
341    7.983871         3.822581  1462     1462         Xavier    BE  62
180    9.117647         3.764706  1292     1292           MTSU  CUSA  51
212    9.114286         3.714286  1326     1326        Ohio St   B10  35
299    8.303571         3.714286  1417     1417           UCLA   P12  56
330    8.255814         3.697674  1451     1451       Weber St  BSky  43
124    7.615385         3.692308  1235     1235        Iowa St   B12  52
..          ...              ...   ...      ...            ...   ...  ..
176    3.865385         2.557692  1287     1287    Morehead St   OVC  52
4      4.972222         2.555556  1106     1106     Alabama St  SWAC  36
98     5.617647         2.485294  1208     1208        Georgia   SEC  68
248    6.220000         2.480000  1364     1364  Santa Barbara    BW  50
311    6.885246         2.475410  1429     1429        Utah St   MWC  61
35     4.755102         2.469388  1142     1142   Cal Poly SLO    BW  49
198    4.163265         2.469388  1312     1312           NJIT   ind  49
318    6.340426         2.468085  1437     1437      Villanova    BE  47
123    4.824561         2.438596  1234     1234           Iowa   B10  57
13     6.773585         2.415094  1116     1116       Arkansas   SEC  53
163    4.576271         2.389831  1274     1274       Miami FL   ACC  59
255    3.600000         2.338462  1371     1371     Seton Hall    BE  65
272    6.886364         2.318182  1388     1388   St Mary's CA   WCC  44
48     6.101695         2.305085  1156     1156   Cleveland St  Horz  59
313    6.176471         2.294118  1431     1431           UTEP  CUSA  68
326    5.344828         2.293103  1447     1447         Wagner   NEC  58
179    3.306452         2.241935  1291     1291   Mt St Mary's   NEC  62
54     4.578125         2.218750  1162     1162       Columbia   Ivy  64
209    6.800000         2.218182  1323     1323     Notre Dame   ACC  55
58     6.125000         2.208333  1166     1166      Creighton    BE  48
267    5.389831         2.169492  1383     1383  St Francis NY   NEC  59
214    5.775510         2.163265  1329     1329    Oklahoma St   B12  49
228    5.532258         2.161290  1344     1344     Providence    BE  62
236    7.129032         2.112903  1352     1352  Robert Morris   NEC  62
280    5.500000         2.106061  1397     1397      Tennessee   SEC  66
329    3.614035         2.105263  1450     1450  Washington St   P12  57
162    6.913793         2.086207  1273     1273         Mercer    SC  58
122    8.974359         2.076923  1233     1233           Iona  MAAC  39
146    5.604651         2.046512  1257     1257     Louisville   ACC  43
136    4.523077         2.046154  1247     1247       La Salle   A10  65

[100 rows x 7 columns]

In [12]:
df[df.hteam==1355][['dt','home_margin','predicted_home_margin', 'hmargin_diff', 'venue', 'team1', 'team2', 'wloc']].sort('dt')

,dt,home_margin,predicted_home_margin,hmargin_diff,venue,team1,team2,wloc
3731,2010-11-27,26,9,17,Frost Arena,South Dakota St.,Eastern Illinois,H
22399,2010-11-30,17,10,7,Frost Arena,South Dakota St.,Nevada,H
67,2010-12-04,-7,-7,0,Frost Arena,North Dakota St.,South Dakota St.,A
202,2010-12-11,-12,-9,-3,Frost Arena,Milwaukee,South Dakota St.,A
3906,2011-01-08,-8,-7,-1,Frost Arena,Oral Roberts,South Dakota St.,A
11378,2011-01-20,-9,-3,-6,Frost Arena,Oakland,South Dakota St.,A
601,2011-01-22,35,8,27,Frost Arena,South Dakota St.,IPFW,H
19638,2011-02-10,11,5,6,Frost Arena,South Dakota St.,IUPUI,H
19880,2011-11-12,6,3,3,Frost Arena,South Dakota St.,Western Michigan,H
20080,2011-12-30,12,13,-1,Frost Arena,South Dakota St.,Oakland,H
11795,2012-02-02,15,5,10,Frost Arena,South Dakota St.,Oral Roberts,H
15318,2012-02-15,23,10,13,Frost Arena,South Dakota St.,North Dakota St.,H
12003,2012-02-18,21,6,15,Frost Arena,South Dakota St.,Buffalo,H
4752,2012-02-23,17,14,3,Frost Arena,South Dakota St.,Western Illinois,H
23413,2012-11-13,7,13,-6,Frost Arena,South Dakota St.,Tennessee St.,H
15574,2012-12-09,6,11,-5,Frost Arena,South Dakota St.,Cal St. Bakersfield,H
15636,2013-01-10,7,7,0,Frost Arena,South Dakota St.,Oakland,H
12724,2013-01-12,26,11,15,Frost Arena,South Dakota St.,IPFW,H
2074,2013-01-26,16,4,12,Frost Arena,South Dakota St.,North Dakota St.,H
5668,2013-02-16,9,5,4,Frost Arena,South Dakota St.,Western Illinois,H
24081,2013-11-14,-8,-3,-5,Frost Arena,Montana,South Dakota St.,A
18463,2013-11-25,12,14,-2,Frost Arena,South Dakota St.,Howard,H
18489,2013-11-26,13,1,12,Frost Arena,South Dakota St.,Lehigh,H
21054,2013-12-14,13,7,6,Frost Arena,South Dakota St.,Belmont,H
9951,2014-01-16,9,7,2,Frost Arena,South Dakota St.,Western Illinois,H
6428,2014-01-18,-9,-2,-7,Frost Arena,Nebraska Omaha,South Dakota St.,A
21531,2014-01-25,-8,-4,-4,Frost Arena,North Dakota St.,South Dakota St.,A
2604,2014-02-06,28,3,25,Frost Arena,South Dakota St.,IPFW,H
21821,2014-02-27,9,4,5,Frost Arena,South Dakota St.,Denver,H
24573,2014-03-01,14,10,4,Frost Arena,South Dakota St.,South Dakota,H
16524,2014-11-21,2,12,-10,Frost Arena,South Dakota St.,North Dakota,H
16574,2014-12-06,20,5,15,Frost Arena,South Dakota St.,UMKC,H
2983,2014-12-13,2,9,-7,Frost Arena,South Dakota St.,Idaho,H
10517,2015-01-07,31,10,21,Frost Arena,South Dakota St.,Western Illinois,H
10582,2015-01-14,15,10,5,Frost Arena,South Dakota St.,IUPUI,H
7523,2015-01-17,14,8,6,Frost Arena,South Dakota St.,South Dakota,H
22103,2015-01-21,29,10,19,Frost Arena,South Dakota St.,IPFW,H
13935,2015-01-31,30,9,21,Frost Arena,South Dakota St.,Denver,H
14042,2015-02-14,10,7,3,Frost Arena,South Dakota St.,North Dakota St.,H
10708,2015-02-21,29,10,19,Frost Arena,South Dakota St.,Oral Roberts,H

In [13]:
df = pd.read_sql("""SELECT * FROM kp_detailed""", conn)

In [14]:
df['winner'] = df.apply(lambda x: x.team1 if x.score1 > x.score2 else x.team2, axis=1)
df['correct'] = df.winner == df.predicted

In [15]:
df['month'] = df.dt.map(lambda x: x.month)

In [16]:
gb = df.groupby('month').mean()

In [17]:
gb.head()

,score1,score2,predicted_score,predicted_score2,team1_id,team2_id,hteam,ateam,neutral,correct
month,,,,,,,,,,
1,73.373469,62.409621,71.489892,63.775122,1285.255423,1283.172938,1284.330825,1284.097536,0.003246,0.709901
2,73.138378,62.483283,71.151016,63.859382,1285.647256,1282.525996,1284.099824,1284.073428,0.002240,0.724844
3,72.785772,62.304662,70.834807,64.307476,1289.063103,1287.752412,1287.392283,1289.423232,0.448151,0.719453
11,75.720772,61.960110,72.935285,63.310842,1287.398260,1283.661999,1288.062805,1282.997454,0.232548,0.781456
12,74.533528,61.390282,72.713508,62.918562,1287.067444,1281.372983,1286.988338,1281.452089,0.078523,0.781535

In [20]:
gb = df.groupby('neutral').mean()